# --- Credenciales ---
.env
src/.env

# --- Logs ---
*.log
src/*.txt

# --- Datos y Almacenamiento ---
src/ETL_PROPERTIES/output/
data/staging/
data/storage/
data/lost+found/
temp/

# --- Python ---
__pycache__/
*.pyc
